<!DOCTYPE html>
<html lang="en">

<!--I used this functionality to help me to start with frontend https://codepen.io/andalex/pen/ONELQa-->

<head>
    <meta charset="UTF-8">
    <title>Breaktru</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.3.js"
        integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>

    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="js/controller.js"></script>
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body ng-app="myApp" ng-controller="BreaktruController" ng-keydown="rm($event)" key-event>
    <main class="fluid-container center" chess-game>
        <div class="row center">
            <div class="container-fluid">
                <button class="cst-btn center" ng-click="init()">Initialize / Restart</button>
                <button class="cst-btn center" ng-click="gold()">Play as Gold</button>
                <button class="cst-btn center" ng-click="silver()">Play as Silver</button>
                <button class="cst-btn center" ng-click="twoAI()">Both Sides AI</button>
                <button ng-if="goldPlayer.includes('AI') && object.turn.includes('G')" class="cst-btn center" ng-click="startAgain()">AI Move Calc</button>
                <button ng-if="silverPlayer.includes('AI') && object.turn.includes('S')" class="cst-btn center" ng-click="startAgain()">AI Move Calc</button>
<!--                <button ng-disabled="goldPlayer.includes('AI') && object.turn.includes('G')" class="cst-btn center" ng-click="startAgain()" >AI Move Calc</button>-->
<!--                <button ng-disabled="(silverPlayer.includes('AI') && object.turn.includes('G')) || (silverPlayer.includes('')) || (goldPlayer.includes('AI') && object.turn.includes('S'))" class="cst-btn center" ng-click="startAgain()" >AI Move Calc</button>-->
<!--                <button ng-disabled="silverPlayer.includes('')" class="cst-btn center" ng-click="startAgain()" >AI Move Calc</button>-->
                <button ng-disabled="object.turn.includes('1')" class="cst-btn center" ng-click="pass()">Pass</button>
            </div>
        </div>
        <div class="row center">
            <div class="container-fluid">
                <pre class="tab">
                    <b>Gold:</b> {{goldPlayer}}         <b>Silver:</b> {{silverPlayer}}         <b>playersTurn:</b> {{object.turn}}         <b>Turn:</b>{{object.count}}         <b>Remaining time for AI in seconds:</b> {{object.remainingTime}}
                </pre>
            </div>
        </div>
        <div class="row center">
            <div class="col-xs-12 play-area">

                <div class="board col-xs-8">
                    <div class="row" ng-repeat="col in columns | orderBy:'-'">
                        <div class="col-xs-1 chess-sq {{row}}{{col}}" ng-repeat="row in rows"
                            ng-click="getInitial(col, row, $index, $parent.$index)"
                            ng-class="[{ 'initial': $index === initialIdx[0] && $parent.$index === initialIdx[1],'destination': $index === destinationIdx[0] && $parent.$index === destinationIdx[1]}]">
                            {{row}}{{col}}
                        </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="row">
                        <button class="cst-btn2 center" ng-click="move()">MOVE</button>
                        <button class="cst-btn2 center" ng-click="undo()">UNDO</button>
                    </div>
                    <div class="row scroll-div">
                        <div class="col-xs-8">
                            <div class="row" ng-repeat="(key,data) in object.logs">
                                <div ng-if="data.includes('G m')" class="gold">
                                    {{data}}
                                </div>
                                <div ng-if="data.includes('S m')" class="silver">
                                    {{data}}
                                </div>
                                <div ng-if="data.includes('Undo')" class="black">
                                    {{data}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button ng-click="download()">Export Logs</button>
                </div>

            </div>
        </div>
    </main>
</body>